@import "tailwindcss";
@import "@nuxt/ui";

:root {
    /* Light mode background */
    --ui-bg: var(--color-slate-100);
}

/* Dark mode background override */
.dark {
    --ui-bg: var(--color-slate-900);
}

html, body, #__nuxt {
  height: 100%;
  margin: 0;
  padding: 0;
}
